body {
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  min-width: 1200px;
  align-items: stretch;
  justify-content: flex-start;
}

.main {
  height: calc(100vh - 160px);
}
